.admin-login-page{

display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:linear-gradient(135deg,#0f172a,#2563eb);

}

.login-card{

background:white;
padding:40px;
width:380px;
border-radius:18px;
box-shadow:0 15px 35px rgba(0,0,0,.25);
text-align:center;

}

.login-logo{

width:80px;
margin-bottom:20px;

}

.login-card h2{

color:#2563eb;
margin-bottom:10px;

}

.login-card p{

color:#666;
margin-bottom:25px;

}

.login-card input{

width:100%;
padding:14px;
margin-bottom:18px;
border-radius:10px;
border:1px solid #ddd;
outline:none;

}

.login-card input:focus{

border:1px solid #2563eb;

}

.login-card button{

width:100%;
padding:14px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
font-size:16px;
font-weight:600;

}

.login-card button:hover{

background:#1d4ed8;

}